body{
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
}
.header{
    width: 100%;
    background-color: #FF9600;
    color: white;
    height: 60px;
}
.tabs{
    background-color: #FF9600;
}
.header_h5{
    color: white;
    margin-top: 10px;
}
.header_h5:hover{
    opacity: 0.8;
}
.tabs .tab a {
    display: block;
    width: 60%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: white;
}
.tabs .indicator {
    background-color: white;
}
.header_h6{
    color: white;
    margin-top: 20px;
}
.header_h6:hover{
    opacity: 0.8;
}
.section_1{
    width: 20%;
    height: 760px;
    float: left;
}
.section_2{
    width: 100%;
    float: left;
}
.section_2_h5{
    opacity: 0.5;
    margin-top: 30px;
}
.img_icon{
    width: 140px;
    /*height: 150px;*/
    margin: 8px;
}
.app_link{
    margin: 5px 5px 2px 10px;
    color: black;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 142px;
    display: block;
}
.app_link:hover{
    text-decoration: underline;
}
.app_founder{
    margin: 10px 5px 5px 10px;
    color: black;
}
.app_founder:hover{
    text-decoration: underline;
}
.material-icons{
    margin-left: 5px;
    margin-top: 10px;
    color: #737373;
}
.download_link{
    color: #999F72;
    margin-left: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}
.download_link:hover{
    text-decoration: underline;
}
.application{
    border: 1px solid #EEEEEE;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 7px 1px #bdbdbd;
    padding-bottom: 10px;
    margin: 10px;
    overflow: hidden;
    width: 160px;
    height: 250px;
    transition: background-color 800ms;
}
.icon_ul>li{
    display: inline-block;
}
.application:hover{
    background-color: #bdbdbd;
}
.waves-effect{
    background-color: #FF8D00;
}
.btn:hover{
    background-color: #ffa333;
}
.footer{
    background-color: #FF8D00;
    width: 100%;
}
.footer_h6{
    color: white;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*Old CSS from valueFY.me*/

.h2_about_section_2{
    margin-top: 160px;
    font-weight: 800;
    font-size: 46px;
}
.primary-color{
    color: #FF9600;
}
.p_contact{
    font-size: 15px;
    color: #818181;
    margin-bottom: 100px;
    line-height: 1.5;
}
.contact_a{
    color: #818181;
}
.footer_p_contact{
    color: #818181;
    text-align: center;
    margin: 120px 0 200px 0;
    font-size: 15px;
    line-height: 1.9;
}
.section_3{
    background-color: #1E2330;
    color: #FFFFFF;
    overflow: hidden;
    width: 100%;
}
.section_4{
    overflow: hidden;
    width: 100%;
}
/*-------------------------------------*/

.header_1{
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
}
.header_1_h4{
    margin-top: 40px;
    margin-bottom: 0;
}
.header_1_h4>a{
    color: black;
    font-weight: bold;
}
.header_1_p{
    margin-top: 0;
    color: black;
}
.screenshots_ul>li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
}
strong{
    font-weight: bold;
}
.description_p{
    margin-top: 20px;
}
.description_h5{
    margin-top: 40px;
}
.footer_1{
    width: 100%;
    border-top: 1px solid #e0e0e0;
    padding-top: 40px;
}
.collection{
    width: 30%;
}
.input-field{
    margin-bottom: 30px;
}
.left_20{
    margin-left: 20px;
}
.right{
    margin-top: 0;
    color: white;
}
.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #ffa333;
}

@media only screen and (max-width: 768px) {
    .section_1{
        display: none;
    }
    .section_2{
        width: 100%;
        text-align: center;
    }
    .section_2_h5{
        text-align: left;
        margin-left: 70px;
    }
    .header_h5{
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    .header_h5{
        font-size: 16px;
        margin-top: 20px;
    }
    .tabs .tab a {
        width: 100%;
    }
    .header_h6{
        font-size: 13px;
    }
    .section_2_h5{
     margin-left: 50px;
    }
    .section_4{
        width: 90%;
        margin-left: 30px;
    }
}
@media only screen and (max-width: 425px) {
    .header_1_h4{
        margin-top: 20px;
    }
    .header_1_h4>a{
        font-size: 22px;
    }
    iframe{
        width: 360px;
    }
    .materialboxed{
        width: 60px;
    }
    .h2_about_section_2{
        margin-top: 80px;
        font-size: 28px;
    }
    .p_contact{
        margin-bottom: 60px;
    }
    .footer_p_contact{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 414px){
    .carousel{
        width: 90%;
        margin-left: 10px;
    }
    iframe{
        margin-right: 20px;
    }
}
@media only screen and (max-width: 375px) {
    iframe{
        width: 300px;
        height: 200px;
    }
    .screenshots_ul{
        text-align: center;
    }
}
@media only screen and (max-width: 320px){
    .section_2_h5{
        margin-left: 40px;
    }
    .application{
        width: 120px;
        height: 210px;
    }
    .img_icon {
        width: 100px;
        height: 100px;
        margin: 5px 5px 0 5px;
    }
    .app_link {
        margin: 0 5px 5px 5px;
        font-size: 14px;
    }
    .header_h6{
        font-size: 12px;
    }
    iframe{
        width: 270px;
        height: 200px;
        margin-right: 30px;
    }
}
.img-holder {
    height: 161px;
    overflow: hidden;
}
#app-title {
    text-transform: uppercase;
}

.rate-color-off {
    color: rgba(0,0,0, 0.3);
}
.rate-color-on {
    color: #ff9823;
}

.material-icons[data-id="grade"] {
    margin-left:0;
    margin-right:0;
    cursor: pointer;
    float: left;
}